<ion-view view-title="Busqueda">
  <ion-content>
      <div class="bar bar-header">
        <h1 class="title">Búsqueda</h1>
      </div>
    <label class="item item-input">
        <span class="input-label">Dia</span>
        <input type="date"  ng-model="fechaDia">
    </label>
    <label class="item item-input">
            <span class="input-label">Desde</span>
            <input type="date"  ng-model="fecha">
        </label>

        <label class="item item-input">
            <span class="input-label">Hasta</span>
            <input type="date"  ng-model="fecha2">
        </label>
  </ion-content>
</ion-view>
